@import '../styles/variables.scss';
@import '../styles/reset.scss';
@import '../styles/iconfont.scss';

// 基础样式
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

h1 {
  font-family: 'Lucida Grande', 'Hiragino Sans GB', 'Hiragino Sans GB W3';
}

body {
  background: $bg-color;
  color: $main-font-color;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  font-family: 'Museo Sans', $font-family;
  color: inherit;
  text-decoration: none;
}

.print-hide {
  @media print {
    display: none !important;
  }
}

.print-show {
  display: none;

  @media print {
    display: inline !important;
  }
}

#content {
  position: relative;
  display: block;
  width: 1024px;
  margin: 55px auto;
  box-shadow: 0 0 15px silver;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

#body-blocked {
  padding: 3em 1em 0;
  text-align: center;
  color: #999999;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  line-height: 2em;
}

#body-container {
  position: relative;
}

*::selection {
  background: rgba(52, 152, 219, 0.4);
}

@media print {
  #content {
    border-radius: 0;
    margin: 0;
    height: 1447px;
    overflow: hidden;
    min-height: 1430px;
    background: white;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: white;
  }

  #content {
    width: 100%;
    margin: 0;
    border-radius: 0;
    min-width: 320px;
    min-height: 0;
    box-shadow: none;
  }
}
